@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto";
}

header {
  text-align: center;
  color: white;
  background-color: #183249;
  padding: 2%;
  margin-bottom: 8px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button:active {
  background-color: aquamarine;
  transition: ease 1s;
  transform: scale(1, 1);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  font-size: 36px;
}

#rua, #bairro, #cidade, #estado, #uf, #regiao, #ddd, #siafi {
  border: none;
  background-color: rgb(190, 197, 254);
}

.info {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.7;
  flex: 1;
}

footer {
  background-color: #183249;
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
